<div class="bg-gray-800 text-white w-64 min-h-screen flex flex-col">
    <div class="p-4 text-xl font-bold border-b border-gray-700">
        SchoolTimeCalc
    </div>
    <nav class="flex-1 p-4 space-y-2">
        <NavLink class="block px-4 py-2 rounded hover:bg-gray-700" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="block px-4 py-2 rounded hover:bg-gray-700" href="dashboard">
            Dashboard
        </NavLink>
        <NavLink class="block px-4 py-2 rounded hover:bg-gray-700" href="settings">
            Settings
        </NavLink>
    </nav>
</div>